<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Member Notify</h3>
        <p><b>WARNING</b> - This message system is simple and not 100% secure please no not send messages with secure data link to secure forum posts using the "Open URL" </p>
        <form method="post" action="/sendMessage" class="form-group">
            <input name="id" hidden value="-1"/>
            <th scope="row"><input type="text" class="form-control" name="message" required placeholder="Short Message"/></th>
            <th scope="row"><input type="text" class="form-control" name="url" placeholder="Full URL"/></th>
            <td><button class="btn btn-default btn-lg" type="submit">Send</button></td>
          </form>
        <hr>
        <%- include('../notifications', memberNotifications); %> 
    </div>
</div>