.form-group {
    .badgebox {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
        
        &:checked {
            ~ .event-badge {
                display: block;
            }

            ~ .news-badge {
                display: none;
            }
        }

        ~ .event-badge {
            display: none;
        } 

        ~ .news-badge {
            display: block;
        }
    }
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    &:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
  }

  .active:after {
    content: "\2796";
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  