.intro {
    text-align: center;
    background: url(../img/Arma-3-mobile.jpg) no-repeat 35% top scroll;
    background-size: cover;
    padding: 5.15rem 0 $element-spacing;
    text-shadow: black 4px 4px 4px;

    @media (min-width: $tablet-breakpoint) {
        background-image: url(../img/Arma-3-tablet.jpg);
        background-position: 37% 0;
    }

    @media (min-width: $desktop-breakpoint) {
        background-image: url(../img/Arma-3-desktop.jpg);
        background-position: center 0;
    }

    img {
        width: 30%;
        display: block;
        margin: 0 auto;
    }

    .btn {
        border-color: #FFF;
        border-radius: 50%;
        height: 40px;

        &:hover{
            background-color: transparent;
        }

        svg {
            animation: 2s linear infinite pulse;
        }

        @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.2);
            }
            100% {
              transform: scale(1);
            }
        }
    }
}