<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img alt="" width=50% src="http://sa-sim.com/wp-content/uploads/1/2014/05/arma3_logo-300x187.png">
                  <img src="img/logo.png" style="width:50%"/>
                    <h1 class="brand-heading">Iron-Fists</h1>
                    <p class="intro-text">Play Fair and with Honour</p>
                    <a href="#news" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>