<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Iron-Fists is a UK based Clan playing ArmA 3">
<meta name="author" content="">
<meta name="theme-color" content="#000000" />

<title>Iron-Fists <%= name%></title>

<link rel="manifest" href="../manifest.json" crossorigin="use-credentials">
<script src="../js/lazysizes.min.js" async=""></script>
<script src="../js/main.js" async=""></script>
<link href="/css/main.css" rel="stylesheet">

<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
