<!-- Intro Header -->
<section class="intro">
    <img alt="Arma 3" width=50% class="lazyload" data-src="img/arma3logo.png">
    <img alt="Iron Fists Logo"class="lazyload" data-src="img/logo-desktop.png" style="width:50%"/>
    <h1 class="brand-heading">Iron-Fists</h1>
    <p class="intro-text">Play Fair and with Honour</p>
    <a href="#news" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</section>