<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Forums'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%- include('partials/nav', {nothome:true}); %>
    <section class="section">
        <div class="section__inner">
            <p class="small-note">
                This is a quick access window if you need to copy the url  
                <a href="https://iron-fists.co.uk/forums/index.php" target="_blank">visit the full screen site</a>
            </p>
            <iframe id="forum-frame" src="https://iron-fists.co.uk/forums/index.php"></iframe>
        </div>
    </section>
    <script>
    const ignoreCollapse = true;
    document.querySelector('.nav').classList.add('collapse');
    </script>
    <%- include('partials/footer'); %>
</body>

</html>
