<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Home'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%- include('partials/nav', {nothome:false}); %>
    <%- include('partials/header'); %>
    <%- include('partials/footer'); %>
</body>

</html>
