<h2>About Iron-Fists</h2>
<p>
  Iron-Fists is a UK based clan that takes a semi-professional approach to operations. We like a challenge, often playing way
  out-numbered and out-gunned. We use ACE3, 3CB, RHS, CUP Maps and TFAR. We run three members nights a week and two public
  servers.
</p>
<h3>Weekly Member Events</h3>
<p>
  All events start at
  <b>9pm UK</b> Time we ask you try and be present at
  <b>8:30</b>.
</p>
<ul class="events">
  <li class="events_event">
    <b>Tuesday: Free Night</b> - Vote on the forums for what you want to do.</li>
  <li class="events_event">
    <b>Thursday: Training Night</b> - Learn new skills and practice them. Usually ending in a Zeus mission.</li>
  <li class="events_event">
    <b>Sunday: Mission Night</b> - Take on a serious mission</li>
</ul>
<h3>Leadership Structure</h3>
<p>
  We run a three man command for day to day running:
  <b>INF_H@wKEYE</b> - Squad CO
  <b>INF_Rhys</b> - 2IC
  <b>INF_Mearcat</b> - 3IC All Major Decisions are put to a squad vote. All members are listened to rank is only used for tie
  breakers and mission command structure.
</p>
<h3>Advancement</h3>
<p>
  Promotions are given for dedication and squad work. Awards are given for completing training courses and actions.
</p>
<h3>Requirements</h3>
<p>We ask that you are:
  <ul class="requirements">
    <li>
      <div class="requirements__icon">17+</div>
      17 or older
    </li>
    <li>
      <div class="requirements__icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 576 576" style="enable-background:new 0 0 576 576;" xml:space="preserve">
            <g>
              <path d="M240,32L240,32c132.549,0,240,86.957,240,194.224S372.549,420.448,240,420.448c-12.729,0-25.223-0.81-37.417-2.355   C151.03,469.44,91.497,478.647,32,480v-12.567c32.126-15.677,58-44.231,58-76.866c0-4.553-0.356-9.023-1.015-13.396   C34.706,341.562,0,287.175,0,226.224C0,118.957,107.452,32,240,32z M498,467.343c0,27.973,18.156,52.449,46,65.886V544   c-51.562-1.159-98.893-9.051-143.57-53.062c-10.57,1.324-21.396,2.021-32.43,2.021c-47.734,0-91.704-12.879-126.807-34.521   c72.336-0.254,140.629-23.428,192.417-65.336c26.105-21.127,46.697-45.914,61.207-73.675C510.199,289.994,518,258.636,518,226.224   c0-5.224-0.225-10.418-0.629-15.584C553.656,240.607,576,281.451,576,326.479c0,52.244-30.078,98.86-77.119,129.383   C498.309,459.608,498,463.44,498,467.343z" fill="#FFFFFF"/>
            </g>
          </svg>
      </div>
      Able to speak and write in English.
    </li>
    <li>
      <div class="requirements__icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 99.562 99.563" style="enable-background:new 0 0 99.562 99.563;" xml:space="preserve">
            <g>
              <g>
                <polygon points="2.865,49.879 4.484,49.879 5.9,48.867 5.092,47.856   " fill="#FFFFFF"/>
                <polygon points="18.455,41.503 19.566,42.211 20.074,42.211 20.781,40.087 17.949,39.581 18.455,40.087   " fill="#FFFFFF"/>
                <polygon points="20.713,47.684 19.982,48.718 19.982,50.507 21.931,49.425 23.314,48.823 23.193,47.139 21.306,46.682     20.761,47.918   " fill="#FFFFFF"/>
                <polygon points="18.269,45.649 17.529,45.552 17.011,46.055 17.64,46.331   " fill="#FFFFFF"/>
                <polygon points="18.609,43.448 17.974,43.101 17.744,44.385 18.738,44.184   " fill="#FFFFFF"/>
                <polygon points="2.929,46.871 2.265,46.603 2.521,47.856 3.138,47.581   " fill="#FFFFFF"/>
                <polygon points="3.664,44.725 2.611,43.241 2.076,43.621 2.066,44.745 2.592,45.487   " fill="#FFFFFF"/>
                <polygon points="0.125,45.648 0,46.192 0.754,46.364 0.814,46.093 0.5,45.734   " fill="#FFFFFF"/>
                <polygon points="22.787,42.205 22.094,41.939 21.4,42.205 21.4,43.27 22.398,43.669   " fill="#FFFFFF"/>
                <polygon points="14.449,39.165 12.871,39.165 12.176,39.432 12.176,40.496 13.185,40.03   " fill="#FFFFFF"/>
                <polygon points="14.449,42.677 16.273,42.74 16.334,40.55 15.14,41.345 14.449,41.612   " fill="#FFFFFF"/>
                <path d="M19.187,48.867h-0.744l-2.359-0.706l0.771-0.932l-2.984,0.626l1.27-3.491l-1.27,1.122l-2.34-3.98    c-0.07,0.021-0.139,0.032-0.209,0.055c-2.252,0.761-3.764,2.707-4.084,4.907l1.652,0.613l-1.709,0.58    c0.027,0.546,0.125,1.097,0.307,1.64c1.078,3.195,4.545,4.912,7.738,3.833C17.258,52.448,18.689,50.798,19.187,48.867z" fill="#FFFFFF"/>
                <path d="M46.82,73.381l-6.434-1.617l-0.92,0.937l-1.594-1.567l-7.398-1.857c0.064-0.496-0.736-3.104-0.869-3.635l-0.016,0.03    l-3.107,0.884l2.301-1.958l-1.936-2.063l1.547-0.536l-1.768-5.444c5.326-2.245,13.293-5.339,13.383-5.375    c1.219-0.474,1.824-1.846,1.352-3.067c-0.475-1.22-1.84-1.83-3.068-1.351c-0.266,0.103-4.33,1.683-8.584,3.4l-0.18,1.547    l-2.277-0.547c-1.064,0.437-2.096,0.865-3.033,1.265c-1.117-0.714-2.525-0.979-3.752-0.875c0,0-0.67,0.023-1.314,0.256    c-0.615,0.225-1.26,0.602-1.26,0.602l-0.014,0.008c-1.785,1.134-3.322,3.419-2.52,5.798l0.418,1.239l0.908-0.885l-0.309,2.663    l1.758,5.204l1.893-1.847l-0.361,3.122l-1.146-0.133l1.148,3.408c0.363,1.072,1.088,1.846,1.984,2.344l3.395,9.976l0.619-0.319    l1.174,2.269L25.625,85l2.35,6.905c0.574,1.688,2.408,2.592,4.1,2.019l0,0c1.691-0.576,2.596-2.411,2.02-4.102l-4.826-14.182    l15.979,4.016c0.625,0.157,1.256,0.121,1.824-0.073c1.006-0.341,1.822-1.17,2.1-2.275C49.603,75.573,48.552,73.817,46.82,73.381z" fill="#FFFFFF"/>
                <path d="M62.301,48.889c1.107-0.218,1.994-1.133,2.123-2.315c0.389-3.61,1.049-8.034,1.447-9.178    c0.518-0.554,2.299-1.863,4.154-3.064c1.188,5.361,1.948,6.268,2.237,6.611c1.076,1.278,5.935,5.356,7.396,6.575    c0.496,0.413,1.099,0.614,1.697,0.614c0.758,0,1.514-0.325,2.037-0.954c0.936-1.125,0.785-2.795-0.34-3.732    c-2.688-2.24-5.875-5-6.637-5.809c-0.506-1.095-1.514-5.601-2.168-9.279c-0.035-0.193-0.301-1.089-0.451-1.44l-3.607-8.515    c-1.533,0.995-3.592,2.147-5.732,2.799c-0.108,0.034-0.219,0.059-0.329,0.077c-1.205,0.194-2.386-0.542-2.742-1.714    c-0.396-1.298,0.34-2.675,1.64-3.071c3.352-1.02,7.147-3.995,8.063-5.065c0.041-0.121,0.633,0.424,0.633,0.424    c-0.873,1.074-4.926,4.284-8.479,5.366c-0.896,0.274-1.405,1.228-1.133,2.126c0.271,0.885,1.223,1.409,2.125,1.133    c2.115-0.645,4.156-1.801,5.654-2.784l-0.006-0.014c0.814-0.542,1.504-1.058,2.008-1.455c4.191-3.296,3.916-4.543,3.752-5.288    c-0.178-0.805-0.705-1.449-1.445-1.767c-1.655-0.711-3.479,0.388-6.785,2.383c-1.112,0.673-2.256,1.357-3.344,1.934    c0.799-1.403,0.963-3.147,0.285-4.749c-1.156-2.728-4.303-4.001-7.031-2.846c-2.727,1.156-4.002,4.304-2.846,7.031    c1.027,2.427,3.633,3.699,6.117,3.136c-0.025,0.039-0.051,0.078-0.076,0.117l-0.023-0.046l-16.133,8.42l-0.188-0.348l-1.588,0.853    l0.176,0.328l-0.488,0.255l0.875,1.678l7.475-3.898c0.764,0.12,1.84,0.106,3.178-0.359c0.061,0.052,0.115,0.107,0.182,0.152    c0.301,0.204,2.998,2.014,4.906,2.672c0.637,0.22,1.266,0.304,1.855,0.304c0.727,0,1.391-0.127,1.934-0.282l2.057,4.855    c0.084,0.197,0.185,0.377,0.293,0.548c-1.551,1.102-3.062,2.325-3.668,3.276c-0.777,1.225-1.52,5.067-2.207,11.422    c-0.146,1.381,0.793,2.627,2.135,2.884h-4.506v5.175h5.008v39.897h36.385V54.064h1.389v-5.175H62.301z M60.248,21.947    c-0.539-0.187-1.266-0.563-1.959-0.961c0.902-0.432,1.566-0.75,1.916-0.918l0.82,1.936C60.763,22.033,60.488,22.03,60.248,21.947z     M75.91,70.155H65.763v-9.844h10.146v9.844H75.91z M93.892,70.155H83.746v-9.844h10.146V70.155z" fill="#FFFFFF"/>
                <polygon points="37.285,29.327 32.095,36.694 38.74,30.719 38.691,32.71 40.338,30.546 40.859,39.581 42.279,31.267 46.779,35.48     42.986,29.075 43.094,30.888 41.72,29.603 41.269,32.236 41.041,28.252 39.588,30.158 39.623,28.809 37.019,31.147 38.767,28.666     36.933,28.447 39.338,28.191 38.892,27.567 39.879,27.399 39.56,24.48 40.832,25.201 37.568,18.444 39.127,26.66 33.894,21.999     37.832,27.514 29.525,28.4   " fill="#FFFFFF"/>
              </g>
            </g>
          </svg>
      </div>
      Capable of attend member events.
    </li>
    <li>
        <div class="requirements__icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 485.213 485.212" style="enable-background:new 0 0 485.213 485.212;" xml:space="preserve">
            <g>
              <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653   c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978   c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653   C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307   c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z    M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98   C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93   H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z    M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166   c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166   c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94   v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z    M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158   s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163   C424.562,370.692,417.781,363.906,409.399,363.906z" fill="#FFFFFF"/>
            </g>
          </svg>
        </div>
      Prepared to Keep up-to-date with squad activities.
    </li>
    <li>
        <div class="requirements__icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="80px" height="80px">
              <g>
                <g>
                  <path d="M167.874,72.172c-7.745,3.366-16.439,5.154-25.445,5.154c-9.074,0-17.822-1.812-25.603-5.223    c-2.606,4.626-7.421,7.517-12.729,7.66c1.703,19.939,18.416,35.593,38.795,35.593c20.374,0,37.085-15.647,38.795-35.579    C175.138,79.776,170.476,76.735,167.874,72.172z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M132.463,354.105c-14.295,5.945-30.294-3.355-32.326-18.598c-0.732-5.491-5.837-43.783-6.444-48.34l-2.18-1.485    c0,0-0.174-2.535-0.174,202.44c0,13.188,10.691,23.878,23.878,23.878s23.878-10.69,23.878-23.878V351.347L132.463,354.105z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M238.756,172.014c-0.125-25.006-20.573-45.349-45.577-45.349c-8.469,0-74.68,0-83.295,0    c4.111,9.885,32.081,77.147,36.501,87.775c2.122,5.103,2.13,10.728,0.022,15.838c-0.115,0.28-0.249,0.548-0.375,0.821    c12.445,11.55,15.747,30.121,7.949,45.292c5.868,14.036,9.581,22.919,15.424,36.894c4.977,11.968-0.711,25.753-12.679,30.731    l-10.547,4.385v139.72c0,13.188,10.691,23.878,23.878,23.878c13.187,0,23.878-10.69,23.878-23.878c0-10.754,0-272.625,0-315.894    c0-1.385,1.121-2.508,2.505-2.512c1.385-0.003,2.512,1.114,2.518,2.499c0.291,57.845,0.242,30.956,0.179,120.842    c-0.008,10.989,8.895,19.905,19.884,19.912c0.006,0,0.009,0,0.015,0c10.982,0,19.891-8.9,19.898-19.884    C238.998,203.06,239.048,230.005,238.756,172.014z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M135.322,219.041L68.419,58.155l7.039-2.927c4.443-1.848,6.547-6.948,4.699-11.39c-1.848-4.444-6.948-6.547-11.39-4.699    l-7.039,2.927l-5.024-12.08c-1.848-4.444-6.946-6.547-11.39-4.7c-4.444,1.848-6.548,6.948-4.7,11.391l33.345,80.184    c-2.411-2.602-6.269-3.571-9.733-2.131c-4.443,1.848-6.547,6.947-4.7,11.391c3.357,8.073,23.674,56.929,26.417,63.525    l49.943,34.02C136.114,222.151,135.954,220.559,135.322,219.041z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M158.344,317.885l-12.772-30.551c-10.304,9.291-25.212,12.455-38.783,7.4l5.224,39.19    c1.003,7.524,8.879,12.019,15.851,9.12l24.262-10.09C158.005,330.509,160.788,323.763,158.344,317.885z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M131.267,242.564l-58.35-39.746l2.718-4.783l-19.34-46.509c-15.353,27.01-14.589,25.667-27.043,47.575    c-5.121,9.01-2.469,20.444,6.097,26.278l73.514,50.075c9.086,6.192,21.464,3.837,27.648-5.242    C142.699,261.128,140.35,248.75,131.267,242.564z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M190.373,64.126c-1.638-8.838-5.666-30.644-5.666-31.455C184.706,14.628,165.778,0,142.43,0    c-22.281,0-40.522,13.324-42.146,30.222h-0.131L94.25,64.166c-0.33,1.896,1.132,3.631,3.054,3.631h6.388    c1.149,0,2.205-0.636,2.741-1.653l5.662-10.726c7.683,6.119,18.431,9.927,30.335,9.927c11.808,0,22.479-3.745,30.148-9.776    l5.659,10.588c0.539,1.009,1.59,1.638,2.734,1.638h6.355C189.261,67.795,190.728,66.038,190.373,64.126z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M414.238,72.172c-7.745,3.366-16.439,5.154-25.445,5.154c-9.074,0-17.822-1.812-25.603-5.223    c-2.606,4.626-7.421,7.517-12.729,7.66c1.703,19.939,18.416,35.593,38.795,35.593c20.374,0,37.085-15.647,38.795-35.579    C421.503,79.776,416.841,76.735,414.238,72.172z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M378.828,354.105c-14.295,5.945-30.294-3.355-32.326-18.598c-0.732-5.491-5.837-43.783-6.444-48.34l-2.18-1.485    c0,0-0.174-2.535-0.174,202.44c0,13.188,10.691,23.878,23.878,23.878c13.187,0,23.878-10.69,23.878-23.878V351.347    L378.828,354.105z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M485.122,172.014c-0.127-25.006-20.574-45.349-45.579-45.349c-8.469,0-74.68,0-83.295,0    c4.111,9.885,32.081,77.147,36.501,87.775c2.122,5.103,2.13,10.728,0.022,15.838c-0.115,0.28-0.249,0.548-0.375,0.821    c12.445,11.55,15.747,30.121,7.949,45.292c5.868,14.036,9.581,22.919,15.424,36.894c4.977,11.968-0.711,25.753-12.679,30.731    l-10.547,4.385v139.72c0,13.188,10.691,23.878,23.878,23.878s23.878-10.69,23.878-23.878c0-10.754,0-272.625,0-315.894    c0-1.385,1.121-2.508,2.505-2.512c1.385-0.003,2.512,1.114,2.519,2.499c0.291,57.845,0.242,30.956,0.179,120.842    c-0.008,10.989,8.895,19.905,19.884,19.912c0.006,0,0.009,0,0.015,0c10.982,0,19.891-8.9,19.898-19.884    C485.364,203.061,485.413,230.005,485.122,172.014z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M381.687,219.041L314.783,58.155l7.039-2.927c4.443-1.848,6.547-6.948,4.699-11.39c-1.848-4.444-6.948-6.547-11.39-4.699    l-7.039,2.927l-5.024-12.08c-1.848-4.444-6.946-6.547-11.39-4.7c-4.443,1.848-6.548,6.948-4.7,11.391l33.345,80.184    c-2.411-2.602-6.269-3.571-9.732-2.131c-4.444,1.848-6.547,6.947-4.7,11.391c3.357,8.073,23.674,56.929,26.417,63.525    l49.943,34.02C382.478,222.151,382.318,220.559,381.687,219.041z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M404.708,317.885l-12.772-30.551c-10.304,9.291-25.212,12.455-38.783,7.4l5.224,39.19    c1.003,7.524,8.879,12.019,15.851,9.12l24.262-10.09C404.369,330.509,407.152,323.763,404.708,317.885z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M377.632,242.564l-58.35-39.746l2.718-4.783l-19.341-46.509c-15.353,27.01-14.589,25.667-27.043,47.575    c-5.121,9.01-2.469,20.444,6.098,26.278l73.514,50.075c9.087,6.192,21.465,3.837,27.649-5.242    C389.063,261.128,386.715,248.75,377.632,242.564z" fill="#FFFFFF"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M436.737,64.126c-1.638-8.838-5.666-30.644-5.666-31.455C431.071,14.628,412.142,0,388.794,0    c-22.281,0-40.522,13.324-42.146,30.222h-0.131l-5.903,33.943c-0.33,1.896,1.132,3.631,3.054,3.631h6.388    c1.149,0,2.205-0.636,2.741-1.653l5.662-10.726c7.683,6.119,18.431,9.927,30.335,9.927c11.808,0,22.479-3.745,30.148-9.776    l5.659,10.588c0.539,1.009,1.59,1.638,2.734,1.638h6.355C435.625,67.795,437.092,66.038,436.737,64.126z" fill="#FFFFFF"/>
                </g>
              </g>
            </svg>
        </div>
      Not a member of another Arma Clan.
    </li>
  </ul>
</p>
<h3>Questions?</h3>
<p>Come say hi on
  <a href="ts3server://81.19.212.66" target="_blank">Team Speak.</a>
</p>
<p>
  <b>INF_Mike64</b> - Committee Member
</p>