<h2>This Months Donators</h2>
<p>Thank you for your support to keep us going strong.</p>
<ul class="donators">
    <% donators.forEach(donator =>{%>
        <li>
            <%= donator.name %>
        </li>
    <% }) %>
</ul>