<h2>Donate</h2>
<p>We run on the generous donations of our members and other interested parties, without them none of this would be possible.
    Running this clan costs about
    <b>£55pcm</b> due before the
    <b>20th</b> of every month. If you can help in any way it will be much appreciated.
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="CLT9QRCDAM748">
    <button border="0" class="btn" name="submit" alt="PayPal – The safer, easier way to pay online!">Donate</button>
</form>