<div class="download-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 background-shadow">
            <h2>Forum</h2>
            <p>Join the chat, apply to join the squad. Its the heart of the squad</p>
            <a href="http://forums.iron-fists.eu/index.php" class="btn btn-default btn-lg" target="_blank">Visit our Forums</a>
        </div>
    </div>
</div>