<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Becoming A Member</h2>
        <p>Try as we might, a small paragraph isn't going get you hooked.
           So we recommend joining one of our public servers and have a chat with us over Teamspeak.
            If you like what you have experienced then joining is as easy as.</p>
          <h4>1. Register on our Forums.<br/><br/>
           2. Read and fill in a <b>Members Form</b> (No essay required),  We will get back to you.</h4>
    </div>
</div>