<div class="download-section links-section">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 background-shadow">
            <h2>Links</h2>
            <p>More places we have a presence.</p>
            <a href="https://units.arma3.com/unit/iron-fists" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small lazyload" data-src="img/units.png"/><br>
              Units
            </a>
            <a href="ts3server://81.19.212.66" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small lazyload" data-src="img/ts.png"/><br>
              TS3
            </a>
            <a href="https://www.facebook.com/groups/ironfists.eu/" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small lazyload" data-src="img/facebook.png"/><br>
              Facebook
            </a>
            <hr/>
            <h3>Teamspeak Activity</h3>
            <div id="ts3viewer_1014112" style=""></div>
        </div>
    </div>
</div>