<div class="download-section links-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 background-shadow">
            <h2>Links</h2>
            <p>More places we have a presence.</p>
            <a href="https://units.arma3.com/unit/iron-fists" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small"  src="https://units.arma3.com/assets/img/units/header_icon.png"/><br>
              Units
            </a>
            <a href="ts3server://81.19.212.66" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small" src="https://www.teamspeak.com/assets/images/logos/teamspeak_small.png"/><br>
              TS3
            </a>
            <a href="https://www.facebook.com/groups/ironfists.eu/" target="_blank" class="btn btn-default btn-lg">
              <img class="img_small" src="https://www.seeklogo.net/wp-content/uploads/2016/09/facebook-icon-preview-1-400x400.png"/><br>
              Facebook
            </a>
            <hr/>
            <h3>Teamspeak Activity</h3>
            <div id="ts3viewer_1014112" style=""></div>
        </div>
    </div>
</div>