<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h2>Public Server Rules</h2>
      <p>These are our rules and guidlines for all our public servers. Our servers are a place to have fun &amp; achieve great teamwork and to do that we need responsible` players.</p>
      <ul class="list-group"><b>
        <li class="list-group-item">NO CHEATING</li>
        <li class="list-group-item">NO GLITCHING OR FARMING!</li>
        <li class="list-group-item">NO TEAM KILLING!</li>
        <li class="list-group-item">NO UNNECESSARY DESTRUCTION OF BUILDINGS, VEHICLES ETC</li>
        <li class="list-group-item">RESPECT ALL PLAYERS!</li>
      </b>
      </ul>
      <p>If your found breaking the above, you will be kicked off the server. Repeated offences will result in a ban</p>
      <h3>For ease of communication please speak english in the presence of INF Members</h3>
      <p>
      We hope our servers deliver the experience you are looking for, any suggestions to make our servers more enjoyable for you just leave a post and we will take it seriously.
      </p>
      <p class="intro-text">Play Fair and with Honour</p>
    </div>
</div>