<div class="download-section server-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 background-shadow">
        <h2>Servers</h2>
        <hr />
      <h3>Resistance<h3>
      <p><a href="http://www.gametracker.com/server_info/81.19.212.66:2340/" target="_blank" title="http://www.gametracker.com/server_info/81.19.212.66:2340/" class="postlink" rel="nofollow"><img resizemod="off" src="http://cache.www.gametracker.com/server_info/81.19.212.66:2340/b_560_95_1.png" border="0" alt="" width="100%" title=""></a></p>
      <a class="btn btn-default btn-lg" href="preset\Arma 3 Mod Preset INF_Resistance_steam.html" download>Download Preset</a>
      <p class="smalltxt">Drag and drop file into Launcher</p>
      <h4>Optional</h4>
      <p><a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=620019431" target="_blank">Task Force radio</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=333310405" target="_blank">Enhanced Moment</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=450814997" target="_blank">CBA3</a></br>
        <a class="btn btn-default btn-lg" href="http://www.armaholic.com/page.php?id=23899" target="_blank">BC Phoenix 2</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=330927362" target="_blank">Advanced Button Mod</a>
      </p>
      <hr />
      <h3>Liberation<h3>
          <p><a href="http://www.gametracker.com/server_info/81.19.212.66:2310/" target="_blank" title="http://www.gametracker.com/server_info/81.19.212.66:2310/" class="postlink" rel="nofollow"><img resizemod="off" src="http://cache.www.gametracker.com/server_info/81.19.212.66:2310/b_560_95_1.png" border="0" alt="" width="100%" title=""></a></p>
          <a class="btn btn-default btn-lg" href="preset\Arma 3 Mod Preset INF_Liberation_steam.html" download>Download Preset</a>
          <p class="smalltxt">Drag and drop file into Launcher</p>
          <h4>Required</h4>
      <p>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=463939057" target="_blank">ACE3</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=450814997" target="_blank">CBA3</a>
      </p>
      <h4>Optional</h4>
      <p><a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=620019431" target="_blank">Task Force radio</a></br>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=333310405" target="_blank">Enhanced Moment</a>
        <a class="btn btn-default btn-lg" href="http://www.armaholic.com/page.php?id=23899" target="_blank">BC Phoenix 2</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=330927362" target="_blank">Advanced Button Mod</a>
      </p>
      <hr />
      <h3>Members Only<h3>
          <p><a href="http://www.gametracker.com/server_info/81.19.212.66:2320/" target="_blank" title="http://www.gametracker.com/server_info/81.19.212.66:2320/" class="postlink" rel="nofollow"><img resizemod="off" src="http://cache.www.gametracker.com/server_info/81.19.212.66:2320/b_560_95_1.png" border="0" alt="" width="100%" title=""></a></p>
          <a class="btn btn-default btn-lg" href="preset\Arma 3 Mod Preset INF_Bootcamp_steam.html" download>Download Preset</a>
          <p class="smalltxt">Drag and drop file into Launcher</p>
          <h4>Required</h4>
      <p>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=463939057" target="_blank">ACE3</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=773131200" target="_blank">ACE3 Compat RHS AFRF</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=773125288" target="_blank">ACE3 Compat RHS USAF</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=884966711" target="_blank">ACE3 Compat RHS GREF</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=450814997" target="_blank">CBA3</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=620019431" target="_blank">Task Force radio</a></br>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=843425103" target="_blank">RHS AFRF</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=843577117" target="_blank">RHS USAF</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=843593391" target="_blank">RHS GREF</a>
        <a class="btn btn-default btn-lg" href="http://www.armaholic.com/page.php?id=19917" target="_blank">MBG KillHouses A3</a></br>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=893339590" target="_blank">3CB BAF Wepons</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=893346105" target="_blank">3CB BAF Units</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=893328083" target="_blank">3CB BAF Equipment</a></br>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=893349825" target="_blank">3CB BAF Vehicles</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=583496184" target="_blank">CUP Terrain Core</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=583544987" target="_blank">CUP Terrain Maps</a></br>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=333310405" target="_blank">Enhanced Moment</a>
      </p>
      <h4>Optional</h4>
      <p>
        <a class="btn btn-default btn-lg" href="http://www.armaholic.com/page.php?id=23899" target="_blank">BC Phoenix 2</a>
        <a class="btn btn-default btn-lg" href="https://steamcommunity.com/sharedfiles/filedetails/?id=330927362" target="_blank">Advanced Button Mod</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=723217262" target="_blank">Ares Mod - Achilles Expansion</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=642912021" target="_blank">ZEC</a>
        <a class="btn btn-default btn-lg" href="http://steamcommunity.com/sharedfiles/filedetails/?id=750186990" target="_blank">ZECCUP</a>
      </p>
    </div>
    </div>
</div>